<div class="modal-body">
    <div class="row">
        <div class="col-md-12"><h3 class="m-t-none m-b">Add new trade account</h3>
            <form role="form">
                <div class="form-group"><label>Account Name</label> <input placeholder="Account Name" class="form-control" ng-model="model.account_name"></div>
                <div>
                    <button class="btn btn-sm btn-primary m-t-n-xs" ng-click="ok()"><i class="fa fa-check"></i> <strong>Add</strong></button>
                    <button class="btn btn-sm btn-danger m-t-n-xs" ng-click="cancel()"><strong><i class="fa fa-times"></i> Cancel</strong></button>
                </div>
            </form>
        </div>
    </div>
</div>
