<div class="modal-body">
    <div class="row">
        <div class="col-md-12"><h3 class="m-t-none m-b">Buy item</h3>
            <label class="font-noraml">Add buy item log for your account</label>
            <form role="form">
                <div class="form-group" ng-hide="account_id !== 0">
                    <label>Account</label><br/>
                    <select chosen id="account" style="width:200px;" ng-model="model.account" ng-options="a.account_name for a in formData['account']">
                    </select>
                </div>
                <div class="form-group" ng-hide="formData.ticker !== ''">
                    <label>Ticker</label><br/>
                    <select chosen id="ticker" style="width:200px;" ng-model="model.ticker" ng-options="s.ticker for s in formData['list']">
                    </select>
                </div>
                <div class="form-group" ng-hide="formData.ticker === ''">
                    <label>Ticker</label><br/>
                    <label class="font-noraml">{{ formData.ticker}}</label>
                </div>
                <div class="form-group"><label>Price (thousand VND)</label> <input placeholder="Price" type="text" fcsa-number="{  }" class="form-control block ng-invalid ng-invalid-required" ng-model="model.price" ng-init="model.price = price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required></div>
                <div class="form-group"><label>Amount</label> <input placeholder="Amount" type="text" fcsa-number="{  }" class="form-control block ng-invalid ng-invalid-required" ng-model="model.amount" ng-pattern="/^[0-9]{1,7}$/" step="1" required></div>
                <div>
                    <button class="btn btn-sm btn-primary m-t-n-xs" ng-click="ok()"><strong><i class="fa fa-check"></i> Submit</strong></button>
                    <button class="btn btn-sm btn-danger m-t-n-xs" ng-click="cancel()"><strong><i class="fa fa-times"></i> Cancel</strong></button>
                </div>
            </form>
        </div>
    </div>
</div>
